body {
  margin: 0;
  overflow: hidden;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none; /* 操作を邪魔しない */
}

.cursor-label {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}
